<!-- Begin page content -->
<div class="container">
	<div class = "main">
		<div class="page-header">
			<h1>Portfolio</h1>
		</div>
		<p class="lead">This is what I did:</p>
		
<!-- The barebones HTML required for Unslider -->
<div class="unsliderthing">
    <ul>
	    <li><img src="https://dl.dropboxusercontent.com/s/e7oioqur10fy9e9/facebook55.png"></li>
	    <li><img src="https://dl.dropboxusercontent.com/s/g1mki7ygapnqucd/linkedin1.png"></li>
    </ul>
</div>

	</div>
</div>

	<script>
		jQuery(document).ready(function($) {
			$('.unsliderthing').unslider();
		});
	</script>