<!-- Begin page content -->
<div class="container">
	<div class = "main">
		<div class="page-header">
			<h1>This is the welcome page</h1>
		</div>
		<p>This was published on Heroku, folling the instruction on <code>https://www.codecademy.com/articles/deploy-rails-to-heroku</code></p>
		<p class="lead">I did a lot of pretty cool stuff…</p>
		<button><%= link_to "Portfolio", '/pages/portfolio' %></button>
	</div>
</div>