<!-- Begin page content -->
<div class="container">
	<div class = "main">
		<div class="page-header">
			<h1>This is the welcome page</h1>
		</div>
		<p class="lead">I did a lot of pretty cool stuff…</p>
		<button>View my work</button>
	</div>
</div>